.MuiInputLabel-root{
    font-family: Roboto !important;
    font-size: 12px !important;
    padding-top: 5px !important;
}

.setnewpassword-eye-icon{
    margin-top: 10px!important;
}

.set-new-password-heading{
    width: 351px!important;
    height: 50px!important;
    font-family: PoppinsBold!important;
    font-size: 35px!important;
    font-weight: 700!important;
    line-height: 39px!important;
    letter-spacing: 0em!important;
    color: #000000!important;
    text-align: center;
    margin-left: 58px!important;
}
.set-new-password-label-2{
    width: 180px!important;
    font-family: Roboto!important;
    font-size: 15px!important;
    font-weight: 400!important;
    line-height: 15px!important;
    letter-spacing: 0em!important;
    color: #000000!important;
}

.set-new-password-label-1{
    width: 119px!important;
    font-family: Roboto!important;
    font-size: 15px!important;
    font-weight: 400!important;
    line-height: 15px!important;
    letter-spacing: 0em!important;
    color: #000000!important;
}
.set-new-password-input{
    width: 448px!important;
    height: 51px!important;
    border-radius: 5px!important;
    background: #DFE7DE!important;
    font-family: Roboto!important;
    font-size: 13px!important;
    font-weight: 400!important;
    line-height: 15px!important;
    letter-spacing: 0em!important;
    text-align: left!important;
    color: #00000080!important;
    border: none;
    margin-top: 10px!important;
    margin-bottom: 40px!important;
    padding-left: 20px!important;
}

.set-new-password-button{
    width: 448px!important;
    margin-top: 10px!important;
    margin-bottom: 20px!important;
    height: 51px!important;
    border-radius: 5px!important;
    background: #000000!important;
    font-family: Roboto!important;
    font-size: 20px!important;
    font-weight: 400!important;
    line-height: 23px!important;
    letter-spacing: 0em!important;
    text-align: center!important;
    color: #FFFFFF!important;
    text-transform: none!important;
}