.recj{
    height: 30px;
    width: 100%;
    background-color: #8E8E8E;
    border-radius: 5px;
}

.recjG{
    height: 30px;
    width: 100%;
    background-color: #09A779;
    border-radius: 5px;
}

.recjR{
    height: 30px;
    width: 100%;
    background-color: #BC1A11;
    border-radius: 5px;
}