.mock-header {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.mock-content {
    margin-left: 25px;
    margin-right: 25px;
}

.mock-searchbar {
    width: 544px;
    height: 48px;
    border-radius: 5px;
    background: #DFE7DE;
    box-shadow: 0px 4px 15px 0px #00000040;
    /* font-family: Roboto; */
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000B2;
}

.mock-filter {
    width: 121px;
    height: 48px;
    border-radius: 5px;
    background: #2F664D;
    box-shadow: 0px 4px 15px 0px #00000040;
    /* font-family: Roboto; */
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    padding-left: 17px;
    padding-top: 12px;
    padding-right: 17px;
    display: flex;
    justify-content: space-between;
}

.MuiAutocomplete-listbox .MuiAutocomplete-option.Mui-focused {
    background-color: #2F664D ;
    color: #ffffff !important;
}

.MuiAutocomplete-listbox {
    width: 450px !important;
    height: 291px !important;
    border-radius: 5px !important;
    background: #ffffff;
}

.MuiAutocomplete-option {
    font-family: Roboto !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    line-height: 18px !important;
    letter-spacing: 0em !important;
    text-align: left;
    color: #252525;
}

/* .mock-row{
    border-bottom: 1px solid #000000;
    border-bottom: 1px solid rgba(42, 75, 83, 0.56);
} */