.Password-confirmation-card{
    background-color: #2F664D!important;
}

.password-confirmation-card-content{
    width: 350px!important;
    height: 70px!important;
    font-family: Roboto!important;
    font-size: 20px!important;
    font-weight: 400!important;
    line-height: 23px!important;
    letter-spacing: 0em!important;
    text-align: center!important;
    color: #FFFFFF!important;
    padding-top: 25px;
}